
<a href="javascript:void(0)" data-url="?page=settings" class="mii-icon home-btn">
    <img src="/img/no-image.png">
</a>

<a href="javascript:void(0)" class="help-button home-btn">
</a>

<a href="javascript:void(0)" class="exit-button home-btn">
</a>

<a href="javascript:void(0)" class="remote-button home-btn">
</a>

<a href="javascript:void(0)" class="search-bar home-btn">
    <input type="text" maxlength="50" name="search">
</a>

<div class="home-buttons">

    <a href="javascript:void(0)" class="favorites-icon">
        <span>Favorites</span>
    </a>

    <a href="javascript:void(0)" data-url="?page=programs" class="tv-icon">
        <span>TV</span>
    </a>

    <a href="javascript:void(0)" class="movies-icon">
        <span>Movies</span>
    </a>

    <a href="javascript:void(0)" class="sports-icon">
        <span>Sports</span>
    </a>

    <a href="javascript:void(0)" class="tvtag-icon">
        <span>TV Tag</span>
    </a>

</div>