<a href="javascript:void(0)" class="back-button home-btn">
</a>

<div class="tab-container">
<a href="javascript:void(0)" class="tab-label selected">Live</a>
<a href="javascript:void(0)" class="tab-label">Recommended</a>
<a href="javascript:void(0)" class="tab-label">Guide</a>
</div>

<div class="program-container">
    <a href="javascript:void(0)" class="program">
        <img src="./img/test.jpg">
        <div class="content">
            <span class="name">Pawn Shop</span>
            <span class="episode">Everyone fucking dies.</span>
            <span class="season">S12 E12</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test2.jpg">
        <div class="content">
            <span class="name">I fucking hate minions</span>
            <span class="episode">THEY LOOK LIKE DICKS OKAY</span>
            <span class="season">S1 E82</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test2.png">
        <div class="content">
            <span class="name">Joe Brit´s Talk Show</span>
            <span class="episode">How was WebTV created?</span>
            <span class="season">S1 E2</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test3.jpeg">
        <div class="content">
            <span class="name">Total Drama Island</span>
            <span class="episode">Leshawna Ball</span>
            <span class="season">S1 E12</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test4.jpeg">
        <div class="content">
            <span class="name">The Trap Door</span>
            <span class="episode">No one knows this show</span>
            <span class="season">S1 E12</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test5.jpeg">
        <div class="content">
            <span class="name">Jack Stauber´s SHOP: A Pop Opera</span>
            <span class="episode"></span>
            <span class="season">S1 E1</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test6.jpeg">
        <div class="content">
            <span class="name">Excuse me what the actual fuck are you doing on my house</span>
            <span class="episode">Dude</span>
            <span class="season">S12 E12</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test7.jpeg">
        <div class="content">
            <span class="name">Breaking Bad</span>
            <span class="episode">Los Pollos Hermanos</span>
            <span class="season">S1 E62</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test8.jpg">
        <div class="content">
            <span class="name">The Family Ness</span>
            <span class="episode">Youll never find a nessie in the zoo.</span>
            <span class="season">S12 E12</span>
        </div>
    </a>
    <a href="javascript:void(0)" class="program">
        <img src="./img/test9.jpg">
        <div class="content">
            <span class="name">Friend Inside Me</span>
            <span class="episode">friend inside you.</span>
            <span class="season">S0 E0</span>
        </div>
    </a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test10.jpg">
    <div class="content">
        <span class="name">My Deer Friend Nokotan</span>
        <span class="episode"></span>
        <span class="season">S1 E1</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test11.jpeg">
    <div class="content">
        <span class="name">Nichijou: My Ordinary Life</span>
        <span class="episode"></span>
        <span class="season">S1 E24</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test12.jpeg">
    <div class="content">
        <span class="name">Sasahara.</span>
        <span class="episode">HES HOT AS FUCK</span>
        <span class="season">S69 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test13.jpeg">
    <div class="content">
        <span class="name">SpongeBob SquarePants</span>
        <span class="episode">Reef Blower :3</span>
        <span class="season">S1 E1</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test14.jpg">
    <div class="content">
        <span class="name">GOOBABS!!</span>
        <span class="episode">Green goobabs.</span>
        <span class="season">S1 E3</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test15.jpeg">
    <div class="content">
        <span class="name">Hazbin Hotel</span>
        <span class="episode">i hate this show so much.</span>
        <span class="season">S1 E1</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test16.png">
    <div class="content">
        <span class="name">The Simpsons</span>
        <span class="episode">Do the Bartman.</span>
        <span class="season">S21 E7</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test17.jpg">
    <div class="content">
        <span class="name">Adam Sandler´s Click</span>
        <span class="episode"></span>
        <span class="season"></span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test18.jpeg">
    <div class="content">
        <span class="name">Malcolm in the Middle</span>
        <span class="episode">idk man</span>
        <span class="season">S1 E8</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test19.jpeg">
    <div class="content">
        <span class="name">Scrubs</span>
        <span class="episode">no idea uhhhhhh.</span>
        <span class="season">S2 E3</span>
    </div>
</a>
<br>
<a href="javascript:void(0)" class="program">
    <img src="./img/test20.jpeg">
    <div class="content">
        <span class="name">Everybody Hates Chris</span>
        <span class="episode">chris eats his hotdog.</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test21.jpg">
    <div class="content">
        <span class="name">Lucky Star</span>
        <span class="episode">katsucore</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test22.jpeg">
    <div class="content">
        <span class="name">Family Guy</span>
        <span class="episode">what the fuck!</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test23.jpeg">
    <div class="content">
        <span class="name">South Park</span>
        <span class="episode">Butters is my favorite character</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test24.jpeg">
    <div class="content">
        <span class="name">Smiling Friends</span>
        <span class="episode">You kiss your dad in the mouth?</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test25.jpg">
    <div class="content">
        <span class="name">Planet Sheen</span>
        <span class="episode">Did anyone see this?.</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test26.jpeg">
    <div class="content">
        <span class="name">Skibidi Biden</span>
        <span class="episode">this is why cable TV died</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test27.jpeg">
    <div class="content">
        <span class="name">F is for Family</span>
        <span class="episode">f is for fuck this show</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test28.jpeg">
    <div class="content">
        <span class="name">Lankybox</span>
        <span class="episode">I HATE THEM :3! !!!</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test29.jpeg">
    <div class="content">
        <span class="name">Jellystone!</span>
        <span class="episode">ive never seen this show</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test30.jpg">
    <div class="content">
        <span class="name">Peppa Pig</span>
        <span class="episode">grays favorite show.</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test31.jpeg">
    <div class="content">
        <span class="name">Aqua Teen Hunger Force</span>
        <span class="episode">Boost Mobile</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test32.jpeg">
    <div class="content">
        <span class="name">Teen Titans Go!</span>
        <span class="episode">BELLY BROS</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test33.jpeg">
    <div class="content">
        <span class="name">The Office</span>
        <span class="episode">I love this show</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test34.jpeg">
    <div class="content">
        <span class="name">Knuckles</span>
        <span class="episode">not a sonic fan</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test35.jpeg">
    <div class="content">
        <span class="name">Danny Phantom</span>
        <span class="episode">imagine if</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test36.jpg">
    <div class="content">
        <span class="name">The New Norm Show</span>
        <span class="episode">im the old norm, i want normal beer!</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test38.jpeg">
    <div class="content">
        <span class="name">Mr.Beast</span>
        <span class="episode">mr beast buys wisconsin and explodes it</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test37.jpg">
    <div class="content">
        <span class="name">Totally Spies</span>
        <span class="episode">oomicore.</span>
        <span class="season">S12 E12</span>
    </div>
</a>
<a href="javascript:void(0)" class="program">
    <img src="./img/test39.jpg">
    <div class="content">
        <span class="name">Phineas and Ferb</span>
        <span class="episode">your computer has virus</span>
        <span class="season">S12 E12</span>
    </div>
</a>

</div>