<a href="javascript:void(0)" class="back-button home-btn">
</a>

<div class="tab-container">
    <a href="javascript:void(0)" data-section="settings" class="tab-label selected">Settings</a>
    <a href="javascript:void(0)" data-section="about" class="tab-label">About</a>
    </div>

<div class="settings-container container">

    <div class="mii-body">
        <img src="/img/no-image.png">
        <span></span>
    </div>

    <div class="settings-buttons">
        <a href="javascript:void(0)" class="favorite-btn">Favorite Channels</a>
        <a href="javascript:void(0)" class="streaming-btn">Streaming Platforms</a>
        <a href="javascript:void(0)" class="social-btn">Social Platforms</a>
        <br>
        <a href="javascript:void(0)" class="manual-btn">Manual</a>
        <a href="javascript:void(0)" class="parental-btn">Parental Controls</a>
        <a href="javascript:void(0)" class="setup-btn">Setup Wizard</a>
    </div>

</div>

<div class="about-container none">

    <img class="vino-logo" src="/img/tvii_logo.png">
    <span class="vino-version">1.0.0 US</span>

    <div class="credits-container container">

        <a href="javascript:void(0)" class="card">
            <img src="/img/credit-card-1.png">
            <span>Jack for hosting this Oracle VPS (i dont have a credit card so he helped me).</span>
        </a>

        <a href="javascript:void(0)" class="card">
            <img src="/img/credit-card-2.png">
            <span>Myself  (David Joaq) for developing it.</span>
        </a>

        <a href="javascript:void(0)" class="card">
            <img src="/img/credit-card-3.jpg">
            <span>Braden for playtesting the app.</span>
        </a>

    </div>

    <span class="copyright">Promotional photographs, artwork, channel logos, team logos and service logos as well as celebrity images are the respective property of their owners and are used solely for the purpose of promoting the availability of associated TV and movie programs.</span>
</div>