<a href="javascript:void(0)" class="back-button home-btn">
</a>

<div class="tab-container">
    <a href="javascript:void(0)" class="tab-label selected">Settings</a>
    <a href="javascript:void(0)" class="tab-label">About</a>
    </div>

<div class="settings-container">

    <div class="mii-body">
        <img src="./img/no-image.png">
        <span></span>
    </div>

    <div class="settings-buttons">
        <a href="javascript:void(0)" class="favorite-btn">Favorite Channels</a>
        <a href="javascript:void(0)" class="streaming-btn">Streaming Platforms</a>
        <a href="javascript:void(0)" class="social-btn">Social Platforms</a>
        <br>
        <a href="javascript:void(0)" class="manual-btn">Manual</a>
        <a href="javascript:void(0)" class="parental-btn">Parental Controls</a>
        <a href="javascript:void(0)" class="setup-btn">Setup Wizard</a>
    </div>

</div>